<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>SUEZ - WTS - ORO</title>
	<link rel="shortcut icon" href="../su_components/img/favicon.ico">
	<link rel="stylesheet" href="../su_components/icons/material-icons.css">
	<link rel="stylesheet" href="../su_components/fonts/fonts.css">
	<!--build:css style/vendor.css -->
	<link rel="stylesheet" href="../su_components/bower_components/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="../su_components/bower_components/angular-material-data-table/dist/md-data-table.min.css">
	<link rel="stylesheet" href="../su_components/bower_components/nvd3/build/nv.d3.min.css">
	<link rel="stylesheet" href="app/app.css">
	<!--endbuild-->
</head>

<body ng-cloak>
	<div class="container" layout="row" layout-fill>
		<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="3" ng-show="user">
			<md-toolbar class="md-primary">
				<div class="md-toolbar-tools">
					<i class="material-icons green">apps</i>
					<h1 class="md-toolbar-tools green" flex>Navigáció</h1>
					<md-button ng-click="close()" class="md-icon-button">
						<md-icon>
							<i class="material-icons green">close</i>
						</md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content>
				<md-list flex>
					<md-list-item ui-sref="dashboard" ng-click="close()">
						<div flex class="md-list-item-text">Vezérlőpult</div>
						<md-icon class="material-icons">dashboardk</md-icon>
					</md-list-item>
				</md-list>
				<md-divider></md-divider>
				<!--h1 class="md-headline">&nbsp;Gyorslinkek</h1>
				<md-grid-list class="gr" md-cols="2" md-row-height="1:1" md-gutter="0px">
					<md-grid-tile ng-repeat="link in quicklinks" md-rowspan="1" md-colspan="1" class="quicklinks">
						<p layout-padding="10" flex>
							{{link.description}}
						</p>
						<md-button arial-label="uf" class="md-icon-button md-accent md-hue-1" href="{{link.url}}">
							<md-icon class="material-icons">launch</md-icon>
						</md-button>
						<md-grid-tile-footer>
							<h3>{{link.title}}</h3>
						</md-grid-tile-footer>
					</md-grid-tile>
				</md-grid-list-->
				<div layout="row">
					<md-button class="md-icon-button" ui-sref="logout" ng-click="close()" hide-gt-xs>
						<i class="material-icons">settings_power</i>
					</md-button>
					<p flex></p>
					<!--md-button class="md-icon-button" ui-sref="quicklinks" ng-click="close()">
						<i class="material-icons">more_horiz</i>
					</md-button-->
				</div>
			</md-content>
		</md-sidenav>
		<md-content flex>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" aria-label="More" ng-click="open()" ng-show="user">
						<md-icon>
							<i class="material-icons" style="color:#badb2a">apps</i>
						</md-icon>
					</md-button>
					<h1 flex md-truncate style="padding-left: 10px;font-size: 24px;font-weight:bold;" class="myhead" layout="row">
						<span flex hide-sm hide-xs style="line-height:64px;">WTS - ES - Oroszlány</span>
						<span hide-sm hide-xs style="line-height:64px; font-size: 14px; font-weight: normal; font-family: Arial; padding-right: 20px;">{{user.displayname}}
							<md-button class="md-icon-button" ui-sref="logout">
								<md-icon class="material-icons" style="color:#badb2a">settings_power</md-icon>
							</md-button>
						</span>
						<span flex hide-gt-sm hide-xs style="line-height:55px;">WTS - ES - Oroszlány</span>
						<span hide-gt-sm hide-xs style="line-height:55px; font-size: 14px; font-weight: normal; font-family: Arial; padding-right: 20px;">{{user.displayname}}
							<md-button class="md-icon-button" ui-sref="logout">
								<md-icon class="material-icons" style="color:#badb2a">settings_power</md-icon>
							</md-button>
						</span>
					</h1>
				</div>
			</md-toolbar>
			<div ui-view layout-align="center center"></div>
		</md-content>
	</div>
	<!--build:js script/vendor.js-->
	<script src="../su_components/bower_components/angular/angular.min.js"></script>
	<script src="../su_components/bower_components/angular-i18n/angular-locale_hu-hu.js"></script>
	<script src="../su_components/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="../su_components/bower_components/angular-cookies/angular-cookies.min.js"></script>
	<script src="../su_components/bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="../su_components/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="../su_components/bower_components/angular-messages/angular-messages.min.js"></script>
	<script src="../su_components/bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="../su_components/bower_components/angular-material/angular-material.min.js"></script>
	<script src="../su_components/bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
	<script src="../su_components/bower_components/highcharts/highcharts.js"></script>
	<script src="../su_components/bower_components/moment/min/moment.min.js"></script>
	<script src="../su_components/bower_components/d3/d3.min.js"></script>
	<script src="../su_components/bower_components/nvd3/build/nv.d3.min.js"></script>
	<!--endbuild-->
	<!--build:app script/app.js-->
	<script src="../su_components/directives/chartTheme.js"></script>
	<script src="../su_components/directives/ch.js"></script>
	<script src="app/app.js"></script>
	<script src="app/config.js"></script>
	<script src="app/mdconfig.js"></script>
	<script src="app/run.js"></script>
	<script src="../su_components/filters/app.filters.js"></script>
	<script src="../su_components/directives/commonChart.js"></script>
	<script src="app/components/services/login.service.js"></script>
	<script src="app/components/login/login.ctrl.js"></script>
	<script src="app/components/dashboard/dashboard.ctrl.js"></script>
	<script src="app/components/quicklinks/quicklinks.ctrl.js"></script>
		<script src="app/components/services/dashboard.service.js"></script>
	<!--endbuild--><!--adds-->
	<script>
		angular.bootstrap(document, ['app']);
	</script>
</body>

</html>