<md-progress-linear md-mode="indeterminate" ng-show="vm.loading"></md-progress-linear>
<md-content layout="row" layout-sm="column" layout-xs="column" flex-gt-sm="80" flex-offset-gt-sm="10">
  <div layout-padding flex>
    <h1 class="md-display-2" layout="row">
      <span flex>Napi mennyiség követés</span>
      <md-button class="md-fab md-primary md-hue-2">
        <md-icon class="material-icons">dashboard</md-icon>
      </md-button>
    </h1>
    <md-divider></md-divider>
      <div flex-gt-xs layout="row" layout-align="center center">
        <md-input-container>
          <md-datepicker ng-model="vm.startdate" md-max-date="vm.maxdate"></md-datepicker>
        </md-input-container>
        <md-input-container>
          <md-datepicker ng-model="vm.enddate" md-max-date="vm.maxdate"></md-datepicker>
        </md-input-container>
        <md-button class="md-primary md-raised" ng-click="vm.beallit()" ng-disabled="vm.loading"><md-icon class="material-icons">refresh</md-icon> Betöltés</md-button>
      </div>
    <md-divider></md-divider>
      <my-chart options="vm.weekChart" id="weekChart"></my-chart>
    <md-divider></md-divider>
      <div layout="row">
        <md-table-container flex>
          <table md-table>
            <thead md-head>
              <tr md-row>
                <th md-column style="width:10px!important;"></th>
                <th md-column>Terület</th>
                <th md-column class="target">Cél</th>
                <th md-column ng-repeat="dt in vm.dates">{{ dt | date: 'MM-dd'}}</th>
              </tr>
            </thead>
            <tbody md-body>
      <!-- ZW500 -->
              <tr md-row>
                <th md-head rowspan=3>
                  <span style="display:block;transform: rotate(-90deg);">ZW500 + ZB + ZL</span>
                </th>
                <th md-head>Rewind</th>
                <td class="target" md-cell><i>{{vm.target.rewinder|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.rewinder >= vm.target.rewinder?'green':(dat.rewinder >= vm.target.rewinder*0.95?'yellow':'red')}}">{{dat.rewinder|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>SPL-136-236</th>
                <td class="target" md-cell><i>{{vm.target.spl36|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.spl36 >= vm.target.spl36?'green':(dat.spl36 >= vm.target.spl36*0.95?'yellow':'red')}}">{{dat.spl36|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>SPL-2-3-4-5</th>
                <td class="target" md-cell><i>{{vm.target.spl2345|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.spl2345 >= vm.target.spl2345?'green':(dat.spl2345 >= vm.target.spl2345*0.95?'yellow':'red')}}">{{dat.spl2345|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head rowspan=7>
                  <span style="display:block;transform: rotate(-90deg);">ZW500</span>
                </th>
                <th md-head>SM</th>
                <td class="target" md-cell><i>{{vm.target.sm|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.sm >= vm.target.sm ?'green':(dat.sm >= vm.target.sm*0.95?'yellow':'red')}}">{{dat.sm|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>Potting-ki</th>
                <td class="target" md-cell><i>{{vm.target.potting|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.potting >= vm.target.potting ?'green':(dat.potting >= vm.target.potting*0.95?'yellow':'red')}}">{{dat.potting|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>BP</th>
                <td class="target" md-cell><i>{{vm.target.bp|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.bp >= vm.target.bp ?'green':(dat.bp >= vm.target.bp*0.95?'yellow':'red')}}">{{dat.bp|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>Rework</th>
                <td class="target" md-cell>{{vm.target.rework|number:1}}</td>
                <td md-cell ng-repeat="dat in vm.data"><!--<span class="{{dat.rework >= vm.target.rework ?'green':(dat.rework >= vm.target.rework?'yellow':'red')}}">--><span>{{dat.rework|number:1}}</span></td>
              </tr>
              </tr>
              <tr md-row>
                <th md-head>Minősített</th>
                <td class="target" md-cell><i>{{vm.target.graded|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.graded >= vm.target.graded ?'green':(dat.graded >= vm.target.graded*0.95?'yellow':'red')}}">{{dat.graded|number:1}}</span></td>
              </tr>
              <tr md-row class="divider">
                <th md-head class="target" style="cursor: pointer" ng-click="vm.chartize('sap0500', 'ZW500 SAP')">SAP lejelentett</th>
                <td class="target" md-cell><i>{{vm.target.graded|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.sap0500 >= vm.target.graded ?'green':(dat.sap0500 >= vm.target.graded*0.95?'yellow':'red')}}">{{dat.sap0500|number:1}}</span></td>
              </tr>
              <tr md-row class="divider">
                <th md-head style="cursor: pointer">Kazetta</th>
                <td class="target" md-cell><i>{{vm.target.casette|number:0}} %</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.casette >= vm.target.casette ?'green':(dat.casette >= vm.target.casette*0.95?'yellow':'red')}}">{{dat.casette|number:1}} %</span></td>
              </tr>
      <!-- ZeeBlok -->
              <tr md-row>
                <th md-head rowspan=6>
                  <span style="display:block;transform: rotate(-90deg);">ZB</span>
                </th>
                <th md-head>SM</th>
                <td class="target" md-cell><i>{{vm.target.zbsm|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.zbsm >= vm.target.zbsm ?'green':(dat.zbsm >= vm.target.zbsm*0.95?'yellow':'red')}}">{{dat.zbsm|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>Potting-ki</th>
                <td class="target" md-cell><i>{{vm.target.zbpotting|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.zbpotting >= vm.target.zbpotting ?'green':(dat.zbpotting >= vm.target.zbpotting?'yellow':'red')}}">{{dat.zbpotting|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>BP</th>
                <td class="target" md-cell><i>{{vm.target.zbbp|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.zbbp >= vm.target.zbbp ?'green':(dat.zbbp >= vm.target.zbbp*0.95?'yellow':'red')}}">{{dat.zbbp|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>Rework</th>
                <td class="target" md-cell><i>{{vm.target.zbrework|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.zbrework >= vm.target.zbrework ?'green':(dat.zbrework >= vm.target.zbrework*0.95?'yellow':'red')}}">{{dat.zbrework|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>Minősített</th>
                <td class="target" md-cell><i>{{vm.target.zbgraded|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.zbgraded >= vm.target.zbgraded ?'green':(dat.zbgraded >= vm.target.zbgraded*0.95?'yellow':'red')}}">{{dat.zbgraded|number:1}}</span></td>
              </tr>
              <tr md-row class="divider">
                <th md-head class="target">SAP lejelentett</th>
                <td class="target" md-cell><i>{{vm.target.zbgraded|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.sapZB >= vm.target.zbgraded ?'green':(dat.sapZB >= vm.target.zbgraded*0.95?'yellow':'red')}}">{{dat.sapZB|number:1}}</span></td>
              </tr>
      <!-- ZeeLung -->
              <tr md-row style="display:none">
                <th md-head rowspan=4>
                  <span style="display:block;transform: rotate(-90deg);">ZL</span>
                </th>
                <th md-head>SM</th>
                <td class="target" md-cell><i>{{vm.target.zlsm|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.zlsm >= vm.target.zlsm ?'green':(dat.zlsm >= vm.target.zlsm*0.95?'yellow':'red')}}">{{dat.zlsm|number:1}}</span></td>
              </tr>
              <tr md-row style="display:none">
                <th md-head>Potting-ki</th>
                <td class="target" md-cell><i>{{vm.target.zlpotting|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.zlpotting >= vm.target.zlpotting ?'green':(dat.zlpotting >= vm.target.zlpotting*0.95?'yellow':'red')}}">{{dat.zlpotting|number:1}}</span></td>
              </tr>
              <tr md-row style="display:none">
                <th md-head>Minősített</th>
                <td class="target" md-cell><i>{{vm.target.zlgraded|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.zlgraded >= vm.target.zlgraded ?'green':(dat.zlgraded >= vm.target.zlgraded*0.95?'yellow':'red')}}">{{dat.zlgraded|number:1}}</span></td>
              </tr>
              <tr md-row class="divider" style="display:none">
                <th md-head class="target">SAP lejelentett</th>
                <td class="target" md-cell><i>{{vm.target.zlgraded|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.sapZL >= vm.target.zlgraded ?'green':(dat.sapZL >= vm.target.zlgraded*0.95?'yellow':'red')}}">{{dat.sapZL|number:1}}</span></td>
              </tr>
      <!-- ZW1000 -->
              <tr md-row>
                <th md-head rowspan=6>
                  <span style="display:block;transform: rotate(-90deg);">ZW1000</span>
                </th>
                <th md-head>SPL</th>
                <td class="target" md-cell><i>{{vm.target.spl1000|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.spl1000 >= vm.target.spl1000 ?'green':(dat.spl1000 >= vm.target.spl1000*0.95?'yellow':'red')}}">{{dat.spl1000|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>Static-Potting</th>
                <td class="target" md-cell><i>{{vm.target.pottingstatic1000|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.pottingstatic1000 >= vm.target.pottingstatic1000 ?'green':(dat.pottingstatic1000 >= vm.target.pottingstatic1000*0.95?'yellow':'red')}}">{{dat.pottingstatic1000|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>Centrifuga</th>
                <td class="target" md-cell><i>{{vm.target.centrifugeend1000|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.centrifugeend1000 >= vm.target.centrifugeend1000 ?'green':(dat.centrifugeend1000 >= vm.target.centrifugeend1000*0.95?'yellow':'red')}}">{{dat.centrifugeend1000|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>BP</th>
                <td class="target" md-cell><i>{{vm.target.bpend1000|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.bpend1000 >= vm.target.bpend1000 ?'green':(dat.bpend1000 >= vm.target.bpend1000*0.95?'yellow':'red')}}">{{dat.bpend1000|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>Minősített</th>
                <td class="target" md-cell><i>{{vm.target.grade1000|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.grade1000 >= vm.target.grade1000 ?'green':(dat.grade1000 >= vm.target.grade1000*0.95?'yellow':'red')}}">{{dat.grade1000|number:1}}</span></td>
              </tr>
              <tr md-row class="divider">
                <th md-head class="target" style="cursor: pointer" ng-click="vm.chartize('sap1000', 'ZW1000 SAP')">SAP lejelentett</th>
                <td class="target" md-cell><i>{{vm.target.grade1000|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.sap1000 >= vm.target.grade1000 ?'green':(dat.sap1000 >= vm.target.grade1000*0.95?'yellow':'red')}}">{{dat.sap1000|number:1}}</span></td>
              </tr>
      <!-- ZW1500 -->
              <tr md-row>
                <th md-head rowspan=6>
                  <span style="display:block;transform: rotate(-90deg);">ZW1500</span>
                </th>
                <th md-head>SPL</th>
                <td class="target" md-cell><i>{{vm.target.spl1500|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.spl1500 >= vm.target.spl1500 ?'green':(dat.spl1500 >= vm.target.spl1500*0.95?'yellow':'red')}}">{{dat.spl1500|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>Potting-flip</th>
                <td class="target" md-cell><i>{{vm.target.pottingflip1500|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.pottingflip1500 >= vm.target.pottingflip1500 ?'green':(dat.pottingflip1500 >= vm.target.pottingflip1500*0.95?'yellow':'red')}}">{{dat.pottingflip1500|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>Centrifuga</th>
                <td class="target" md-cell><i>{{vm.target.centrifugeend1500|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.centrifugeend1500 >= vm.target.centrifugeend1500 ?'green':(dat.centrifugeend1500 >= vm.target.centrifugeend1500*0.95?'yellow':'red')}}">{{dat.centrifugeend1500|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>BP</th>
                <td class="target" md-cell><i>{{vm.target.bpend1500|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.bpend1500 >= vm.target.bpend1500 ?'green':(dat.bpend1500 >= vm.target.bpend1500*0.95?'yellow':'red')}}">{{dat.bpend1500|number:1}}</span></td>
              </tr>
              <tr md-row>
                <th md-head>Minősített</th>
                <td class="target" md-cell><i>{{vm.target.grade1500|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.grade1500 >= vm.target.grade1500 ?'green':(dat.grade1500 >= vm.target.grade1500*0.95?'yellow':'red')}}">{{dat.grade1500|number:1}}</span></td>
              </tr>
              <tr md-row class="divider">
                <th md-head class="target" style="cursor: pointer" ng-click="vm.chartize('sap1500', 'ZW1500 SAP')">SAP lejelentett</th>
                <td class="target" md-cell><i>{{vm.target.grade1500|number:1}}</i></td>
                <td md-cell ng-repeat="dat in vm.data"><span class="{{dat.sap1500 >= vm.target.grade1500 ?'green':(dat.sap1500 >= vm.target.grade1500*0.95?'yellow':'red')}}">{{dat.sap1500|number:1}}</span></td>
              </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
    <md-divider></md-divider>
    <div ng-show="vm.chartoptions">
      <md-button ng-click="vm.chartoptions=''">Elrejt</md-button>
      <my-chart options="vm.chartoptions" id="chart"></my-chart>
    </div>
  </div>
</md-content>