html { font-family: 'Roboto', sans-serif; font-weight: 400}
h1,h2 { font-family: 'Open Sans Condensed'; font-weight: 100;}
.md-display-1, .md-display-2 {font-weight: 100;}
.grey { color: #aaa;}
.green {color: #badb2a;}
.text-center { text-align: center;}
.text-right { text-align: right;}

.myDatepicker .md-datepicker-input{
  font-size: 1em;
  font-family: 'Open Sans Condensed';
}

.md-toolbar-tools > .myhead {
  height: 100%;
}
.myhead {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../su_components/img/bg.jpg');
  color: #badb2a;
}
.quicklinks {
  overflow:hidden;
}
.quicklinks p{
  font-size: 10px;
}
.md-head{
  background-color: #000d42;
  color: #ffffff!important;
}
.md-head .md-column {
  color: #ffffff!important;
}
.md-cell {
  text-align: center;
}
.pivot .hover h3{
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px;
}
.pivot .hover h4 {
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px;
}
.pivot h5{
  font-weight: bold;
}
.pivot .row div[class*="col-"], .pivot .row div[class*="col-"] h5 {
  display: table-cell;
  line-height: 40px;
  height: 40px;
}
.pivot .hover{
  cursor: pointer;
}
.pivot .hover:hover{
  background-color: #ddd;
}
.pivot .row > div {
  margin-bottom: 0;
}
.myselector *{
  height: auto;
}
.myselector select.form-control {
  height: 52px;
  padding: 0;
  overflow: hidden;
}
.myselector select.form-control option {
  display: block;
  float: left;
  padding: 5px;
  width: 25%;
  text-align: center;
}