<md-content layout="row" layout-sm="column" layout-xs="column">
  <div layout-padding flex>
    <h1 class="md-display-2" layout="row">
      <span flex>MTF {{vm.datumszam}}</span>
      <md-button class="md-fab md-primary md-hue-2">
        <md-icon class="material-icons">dashboard</md-icon>
      </md-button>
    </h1>
    <md-divider>
      <div layout-gt-xs="row">
        <md-input-container>
          <label>Dátum:</label>
          <md-datepicker ng-model="vm.date" md-max-date="vm.maxdate" ng-change="vm.change()"></md-datepicker>
        </md-input-container>
      </div>
      <div layout="row">
        <div flex="10">
          <h1>Délelőtt:{{vm.szak_de}}</h1>
        </div>
        <div flex="40">
          <h1 style="text-align:center" class="md-display-3">{{vm.mtf|filter:{'type':'_BP-OUT'}|filter:{'shiftnum':'1'} |sumField:'aeq'|number:2}}</h1>
          <h3 style="text-align:center">AEQ</h3>
          <h3 style="text-align:center;cursor:pointer" ng-click="kide=!kide">Kihozatal részletek</h3>
          <div ng-show="kide">
            <md-table-container>
              <table md-table>
                <thead md-head>
                  <tr md-row>
                    <th md-column>Típus</th>
                    <th md-column>Darab</th>
                    <th md-column>AEQ</th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="item in vm.mtf | filter:{'type':'_BP-OUT','shiftnum':'1'}">
                    <td>{{item.name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.aeq|number:2}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
          </div>
        </div>
        <div flex="10"></div>
        <div flex="40">
          <h1 style="text-align:center" class="md-display-3">{{vm.mtf|filter:{'type':'_BOK-BOKES'}|filter:{'shiftnum':'1'} |sumField:'amount'|number:0}}</h1>
          <h3 style="text-align:center">Összes bökés</h3>
          <h3 style="text-align:center;cursor:pointer" ng-click="bokde=!bokde">Bökés részletek</h3>
          <div ng-show="bokde">
            <md-table-container>
              <table md-table>
                <thead md-head>
                  <tr md-row>
                    <th md-column>Típus</th>
                    <th md-column>Darab</th>
                    <th md-column>Bökés/AEQ</th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="item in vm.mtf | filter:{'type':'_BP-OUT','shiftnum':'1'}">
                    <td>{{item.name}}</td>
                    <td>{{item.bokes}}</td>
                    <td>{{item.bokes/item.aeq|number:2}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
          </div>
        </div>
      </div>
      <hr ng-show="vm.szak_du">
      <div layout="row" ng-show="vm.szak_du">
        <div flex="10">
          <h1>Délután:{{vm.szak_du}}</h1>
        </div>
        <div flex="40">
          <h1 style="text-align:center" class="md-display-3">{{vm.mtf|filter:{'type':'_BP-OUT'}|filter:{'shiftnum':'2'} |sumField:'aeq'|number:2}}</h1>
          <h3 style="text-align:center">AEQ</h3>
          <h3 style="text-align:center;cursor:pointer" ng-click="kidu=!kidu">Kihozatal részletek</h3>
          <div ng-show="kidu">
            <md-table-container>
              <table md-table>
                <thead md-head>
                  <tr md-row>
                    <th md-column>Típus</th>
                    <th md-column>Darab</th>
                    <th md-column>AEQ</th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="item in vm.mtf | filter:{'type':'_BP-OUT','shiftnum':'2'}">
                    <td>{{item.name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.aeq|number:2}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
          </div>
        </div>
        <div flex="10"></div>
        <div flex="40">
          <h1 style="text-align:center" class="md-display-3">{{vm.mtf|filter:{'type':'_BOK-BOKES'}|filter:{'shiftnum':'2'} |sumField:'amount'|number:0}}</h1>
          <h3 style="text-align:center">Összes bökés</h3>
          <h3 style="text-align:center;cursor:pointer" ng-click="bokdu=!bokdu">Bökés részletek</h3>
          <div ng-show="bokdu">
            <md-table-container>
              <table md-table>
                <thead md-head>
                  <tr md-row>
                    <th md-column>Típus</th>
                    <th md-column>Darab</th>
                    <th md-column>Bökés/AEQ</th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="item in vm.mtf | filter:{'type':'_BP-OUT','shiftnum':'2'}">
                    <td>{{item.name}}</td>
                    <td>{{item.bokes}}</td>
                    <td>{{item.bokes/item.aeq|number:2}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
          </div>
        </div>
      </div>
      <hr>
      <div layout="row">
        <div flex="10">
          <h1>Éjszaka:{{vm.szak_ej}}</h1>
        </div>
        <div flex="40">
          <h1 style="text-align:center" class="md-display-3">{{vm.mtf|filter:{'type':'_BP-OUT'}|filter:{'shiftnum':'3'} |sumField:'aeq'|number:2}}</h1>
          <h3 style="text-align:center">AEQ</h3>
          <h3 style="text-align:center;cursor:pointer" ng-click="kiej=!kiej">Kihozatal részletek</h3>
          <div ng-show="kiej">
            <md-table-container>
              <table md-table>
                <thead md-head>
                  <tr md-row>
                    <th md-column>Típus</th>
                    <th md-column>Darab</th>
                    <th md-column>AEQ</th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="item in vm.mtf | filter:{'type':'_BP-OUT','shiftnum':'3'}">
                    <td>{{item.name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.aeq|number:2}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
          </div>
        </div>
        <div flex="10"></div>
        <div flex="40">
          <h1 style="text-align:center" class="md-display-3">{{vm.mtf|filter:{'type':'_BOK-BOKES'}|filter:{'shiftnum':'3'} |sumField:'amount'|number:0}}</h1>
          <h3 style="text-align:center">Összes bökés</h3>
          <h3 style="text-align:center;cursor:pointer" ng-click="bokej=!bokej">Bökés részletek</h3>
          <div ng-show="bokej">
            <md-table-container>
              <table md-table>
                <thead md-head>
                  <tr md-row>
                    <th md-column>Típus</th>
                    <th md-column>Darab</th>
                    <th md-column>Bökés/AEQ</th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="item in vm.mtf | filter:{'type':'_BP-OUT','shiftnum':'3'}">
                    <td>{{item.name}}</td>
                    <td>{{item.bokes}}</td>
                    <td>{{item.bokes/item.aeq|number:2}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
          </div>
        </div>
      </div>
    </md-divider>
    <md-divider>
      <div layout="row" layout-xs="column" layout-sm="column">
        <div flex="100" flex-sm="100" flex-xs="100">
          <my-chart id="chart" options="vm.chartconfig"></my-chart>
        </div>
      </div>
      <div layout="row">
        <md-table-container flex>
          <table md-table>
            <thead md-head>
              <tr md-row>
                <th></th>
                <th colspan="3" style="background-color:#ff9933;color: #ffffff">NAPPAL</th>
                <th colspan="3" style="color: #ffffff">ÉJSZAKA</th>
                <th colspan="3" style="background-color:#005CB9;color: #ffffff">NAPI</th>
              </tr>
              <tr md-row>
                <th md-column>NAP</th>
                <th md-column style="background-color:#ff9933">AEQ</th>
                <th md-column style="background-color:#ff9933">BÖKÉS</th>
                <th md-column style="background-color:#ff9933">BÖKÉS/AEQ</th>
                <th md-column>AEQ</th>
                <th md-column>BÖKÉS</th>
                <th md-column>BÖKÉS/AEQ</th>
                <th md-column style="background-color:#005CB9">AEQ</th>
                <th md-column style="background-color:#005CB9">BÖKÉS</th>
                <th md-column style="background-color:#005CB9">BÖKÉS/AEQ</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="item in vm.tabledata track by $index" class="ng-scope">
                <td md-cell>{{item.day}}</td>
                <td md-cell>{{item.noonaeq | number:2}}</td>
                <td md-cell>{{item.noonbok | number:0}}</td>
                <td md-cell>{{item.noonbok/item.noonaeq| number:2}}</td>
                <td md-cell>{{item.moonaeq | number:2}}</td>
                <td md-cell>{{item.moonbok | number:0}}</td>
                <td md-cell>{{item.moonbok/item.moonaeq| number:2}}</td>
                <td md-cell>{{item.dayaeq | number:2}}</td>
                <td md-cell>{{item.daybok | number:0}}</td>
                <td md-cell>{{item.daybok/item.dayaeq| number:2}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </md-divider>
  </div>
</md-content>