
<md-progress-linear md-mode="indeterminate" ng-show="vm.loading"></md-progress-linear><md-content layout="row" layout-sm="column" layout-xs="column">
  <div layout-padding flex>
    <h1 class="md-display-2" layout="row">
      <span flex>Potting állásidők</span>
      <md-button class="md-fab md-primary md-hue-2">
        <md-icon class="material-icons">dashboard</md-icon>
      </md-button>
    </h1>
    <md-divider></md-divider>
    <md-content>
      <div layout-gt-xs="row">
        <md-input-container>
          <label>Potting</label>
          <md-select ng-model="vm.mch" ng-change="vm.filterload()">
            <md-option value="">Mind</md-option>
            <md-option ng-repeat="pl in vm.pottings" value="{{pl}}">{{pl}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Kategória</label>
          <md-select ng-model="vm.cat" ng-change="vm.filterload()">
            <md-option value="">Mind</md-option>
            <md-option ng-if="vm.mch" ng-repeat="ct in vm.categories | filter:{'id':vm.mch}" value="{{ct.cat}}">{{ct.cat}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Dátum tól:</label>
          <md-datepicker ng-model="vm.startdate" md-max-date="vm.maxdate"></md-datepicker>
        </md-input-container>
        <md-input-container>
          <label>Dátum ig:</label>
          <md-datepicker ng-model="vm.enddate" md-max-date="vm.maxdate"></md-datepicker>
        </md-input-container>
        <md-input-container>
          <md-button class="md-primary md-raised" ng-click="vm.filterload()" ng-disabled="vm.loading || vm.enddate<=vm.startdate">Betöltés</md-button>
        </md-input-container>
      </div>
    </md-content>
    <md-content>
      <div flex>
        <my-chart id="statik_chart" options="vm.chartconfig_statik"></my-chart>
      </div>
    </md-content>
    <md-content>
      <div flex>
        <my-chart id="dinamik_chart" options="vm.chartconfig_dinamik"></my-chart>
      </div>
    </md-content>
    <md-content>
      <div flex>
        <md-table-container flex>
          <table md-table>
            <thead md-head>
              <tr md-row>
                <th md-column>Nap</th>
                <th md-column>Potting</th>
                <th md-column>Állás kezdete</th>
                <th md-column>Állás vége</th>
                <th md-column>Állásidő (perc)</th>
                <th md-column>Kategória</th>
                <th md-column>Alkategória</th>
                <th md-column>Megjegyzés</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr ng-repeat="item in vm.guidata track by $index">
                <td md-cell>{{item.day}}</td>
                <td md-cell>{{item.pottingid}}</td>
                <td md-cell>{{item.start_date}}</td>
                <td md-cell>{{item.end_date}}</td>
                <td md-cell>{{item.time}}</td>
                <td md-cell>{{item.category}}</td>
                <td md-cell>{{item.subcategory}}</td>
                <td md-cell>{{item.description}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </md-content>
  </div>
</md-content>